@import '@styles/settings/colors.scss';

.a-loading {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 100px;
  height: 4px;
  background-color: $background-card;
  margin: 20px auto;
}

.a-loading--linear {
  position: relative;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    animation: indeterminate_first 1.5s infinite ease-out;
  }

  &,
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: $primary;
    animation: indeterminate_second 1.5s infinite ease-in;
  }
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}
