@import '@styles/settings/_colors.scss';

$skeleton-color: lighten($skeleton, 20%);

.a-skeleton {
  animation: shine 1s infinite;
  animation-timing-function: ease-in-out;
  margin-bottom: 16px;
  background: linear-gradient(
      to right,
      $skeleton-color,
      lighten($skeleton-color, 10%) 50%,
      $skeleton-color 80%
    ),
    $skeleton-color;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;

  border-radius: 0.5rem;

  &.text {
    width: 100%;
    height: 16px;
  }

  &.circle {
    border-radius: 50%;
  }
}

@keyframes shine {
  to {
    background-position:
      350% 0,
      0 0;
  }
}
