$primary: #6f2fd3;
$secondary: #ba00ad;
$disabled: #bcbfc7;
$text: #000000;
$border: #dfe1e5;
$background: #ffffff;
$background-card: #eeeeee;
$skeleton: #a0a0a0;
$white: #ffffff;
$black: #000000;
$shadow-color: #222326;
$error: #ff0000;
$warning: #ed8a0a;
$success: #48d673;

// temporary
$input-text: #1f1f1f;
